@import url('https://fonts.googleapis.com/css?family=Fresca|Open+Sans');


#AcmeBody {
	background-image: url("images/site/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	font-family: "Arial", sans-serif;
}

#rocket {
	display: flex;
	background-image: url(images/site/feature.jpg);
	background-size: cover;
	justify-content: flex-end;
	color: red;
}

#rocket ul {
	width: 55%;
	padding: 0;
	margin: 0;
}

#rocket img {
	width: 100%;
	padding: 0;
	margin: 0;
}

#lower-half {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#prod img {
	display: block;
	width: 90%;
}

#prod {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#productTitle{
	padding:0;
	margin:0;
}

#productInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#price {
	color: red;
	font-size: 30px;
}

#rocket ul {
	list-style: none;
	background-color: rgba(220, 220, 220, .8);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#recipies {
	display: flex;
	flex-direction: column;
	width: 50%;
}

#recipies table {
	text-align: center;
}

#recipies table tr:nth-child(odd) {
	background-color: gainsboro;
}

.food img {
	width: 30%;
}

#reviews {
	width: 50%;
}

header {
	background-color: white;
}

nav {
	background-color: red;
	color: white;
	display: flex;
}

nav ul {
	display: flex;
	flex-grow: 1;
	font-size: 15px;
	justify-content: space-around;
}

nav a {
	text-decoration: none;
	color: white;
}

nav ul li {
	display: flex;
}

footer {
	display: flex;
	text-align: center;
	background-color: white;
	border-top-style: solid;
}

main {
	display: flex;
	background-color: white;
	flex-direction: column;
}

#lower-half {
	display: flex;
	flex-direction: column-reverse;
}

@media only screen and (min-width:800px) {
	#rocket {
		background-size: cover;
		font-size: 40px;
	}
	#rocket ul {
		width: auto;
	}
	#lower-half {
		display: flex;
		flex-direction: row;
	}
	#recipies {
		flex-direction: column;
		justify-content: space-between;
	}
	.food {
		justify-content: space-around;
		flex-direction: row;
	}
	#reviews {
		padding-bottom: 60px;
	}
	#prod img {
		display: block;
		width: 90%;
	}
	#prod {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#productInfo {
		display: flex;
		font-size 32px;
		flex-direction: column;
/*		justify-content: center;*/
		width: 60%;
	}
}